html {
  scroll-behavior: smooth;
}

.hero-container {
  background: #003145;
  height: 100%;
}

.hero-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-text {
  width: 60%;
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.hero-title {
  border-left: 10px solid #ffce5c;
  padding-left: 40px;
}

.hero-title h3 {
  color: #fff;
  font-size: 50px;
}

.hero-text p {
  font-size: 18px;
  color: #ececec;
  width: 65%;
  padding-left: 40px;
}

.hero-button {
  color: #003145;
  background: #fff;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 40px;
}

.hero-image {
  width: 40%;
  display: flex;
  justify-content: center;
}

.statistics-section {
  background: #002a3b;
  padding: 50px 0px;
}

.statistics-content {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.statistic-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stat-value {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}

.stat-label {
  font-size: 16px;
  color: #fff;
}

.about-container {
  background: #fff;
  height: 100%;
}

.about-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 0;
}

.about-title {
  font-size: 32px;
  color: #000;
  font-weight: 600;
  text-align: center;
  padding-bottom: 100px;
}

.highlight {
  color: #44924c;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.card-item {
  background: #f8f9fd;
  padding: 60px 30px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.card-title {
  font-size: 24px;
  color: #000;
  font-weight: 600;
}

.card-description {
  font-size: 16px;
  color: #64607d;
}